table.chat td.person{
  text-align:center
}
table.chat td.person img{
  border-radius:4px;
}
table.chat td.body{
  vertical-align:bottom;
}
#chat-wrapper.hide-kick .kick_message, 
#chat-wrapper.hide-enter .enter_message, 
#chat-wrapper.hide-timestamp .timestamp_message{
  display:none;
}
